@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  /* background-color: #061297; */
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  /* background-color: palegoldenrod; */
}

.new {
  color: rgb(0, 0, 0);
}
